# Projetos exportados localmente
# Projetos exportados localmente
*.tmaster

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
*.swp
*.swo

# Node (se um dia usar build tools)
node_modules/
dist/
